trigger:
  branches:
    include:
      - main
      - master

pr:
  branches:
    include:
      - main
      - master

pool:
  vmImage: 'ubuntu-latest'

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '20.x'

  - script: npx harnesskit@latest enforce
    displayName: 'Architecture Enforcement'

  - script: npx harnesskit@latest doctor
    displayName: 'Doc Health Check'

  - script: npx harnesskit@latest garden
    displayName: 'Doc Garden (link check)'
